# Secrets / env files
#.env  -> Just for MVP use case
#.env.*
#!.env.example

# Python
.venv/
venv/
__pycache__/
*.py[cod]
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/

# OS / IDE
.DS_Store
.idea/
.vscode/
